@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.container {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    background-color: rgb(var(--gray-2));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card-metric {
    width: 25%;
    display: flex;
    column-gap: 16px;
    padding: 24px 48px 24px 36px;
    align-items: center;
    cursor: pointer;
    border-right: 1.6pt solid rgb(var(--gray-3));
}

.card-metric:last-child {
    border-right: none;
}

.card-metric button {
    pointer-events: none;
    transform: scale(1.35);
    transition: all 0.6s;
}

.card-metric button mat-icon {
    color: rgb(var(--purple));
}

.card-metric > button, h1, p {
    color: rgb(var(--gray-8));
}

.card-metric h1 {
    letter-spacing: -0.5px;
    color: rgb(var(--gray-5));
    font-weight: 600;
    font-size: 0.76em;
    width: max-content;
    margin: 0;
    padding: 0;
    transition: all 0.6s;
}

.card-metric p {
    font-size: 0.92em;
    letter-spacing: -0.02px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin: 5px 0;
}

.card-metric p strong {
    font-family: 'Kanit', sans-serif;
    font-size: 2.3em;
    transition: all 0.4s;
}