@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.container {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(var(--gray-2));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card-metric {
    flex: 1 0 1rem;
    display: flex;
    column-gap: 24px;
    padding: 24px 48px 24px 36px;
    align-items: center;
    cursor: pointer;
    border-right: 1.6pt solid rgb(var(--gray-4));
    transition: all 0.2s;
}

.card-metric:last-child {
    border-right: none;
}

.card-metric button {
    pointer-events: none;
    background-color: rgba(var(--purple), 0.08);
    transform: scale(1.35);
}

.card-metric button mat-icon {
    color: rgb(var(--purple));
}

.card-metric > button, h1, p {
    color: rgb(var(--gray-8));
}

.card-metric h1.card-title {
    letter-spacing: -0.8px;
    color: rgb(var(--dark-0));
    font-weight: 600;
    font-size: 0.88em;
    margin: 0;
    padding: 0;
    transition: all 0.6s;
}

.card-metric:hover h1.card-title {
    color: rgb(var(--purple));
}

.card-metric p.card-value {
    font-size: 0.92em;
    letter-spacing: -0.02px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin: 5px 0;
}

.card-metric p.card-value strong {
    font-family: 'Kanit', sans-serif;
    font-size: 1.85em;
}