<div class="ui-preview-image" *ngIf="isUploaded">
    <div class="image">
        <img 
            class="image-uploaded"
            [src]="uploadedImage.url"
            [alt]="uploadedImage.name"
            (click)="onFullScreen.run(uploadedImage)"
        />
    </div>
    <div class="image-description">
        <a class="image-url" target="_blank" [href]="uploadedImage.url">
            {{ uploadedImage.url | smalltext: '56' }}
        </a>
        <p class="image-size">
            {{ uploadedImage.size | filesize: 'Kb' }}
        </p>
        <p class="uploaded-at">
            Concluído {{ uploadedImage.uploadedAt | dateDuration }}
        </p>
    </div>
    <button mat-icon-button color="warn" (click)="destroy.run(uploadedImage.publicId)">
        <mat-icon>cancel</mat-icon>
    </button>
    <div class="progress-upload" *ngIf="destroy.deleting()">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>