.input-search-container {
    position: relative;
    width: fit-content;
    height: 46px;
    border-radius: 24px;
}

.input-search-container mat-icon.clear {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    color: rgb(var(--purple));
    padding: 6px;
}

.input-search-container mat-icon.search {
    position: absolute;
    left: 6px;
    top: 6px;
    color: rgb(var(--gray-6));
    padding: 6px;
    transition: all 0.8s;
}

.search-field {
    border: none;
    width: calc(100% - 60px);
    height: 100%;
    color: rgb(var(--gray-8));
    padding: 0 20px 0 40px;
    border-radius: 24px;
    border: 1.1pt solid rgb(var(--gray-4));
    background-color: transparent;
    transition: all 0.6s;
}

.search-field:focus {
    outline: none;
    border: 1.1pt solid rgb(var(--purple));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.search-field:focus + mat-icon.search {
    color: rgb(var(--purple));
}