<main>
    <section>
        <header>
            <app-page-description title="Membros" subtitle="Cadastrados" />
            <div class="row-flex space-between center-vertical" *ngIf="!listMembers.emptyData">
               
                <order-list [selectedOrdination]="pagination.ordination" [ordinations]="order.ordinations" (changeOrdination)="changeOrdination($event)" />
    
                <ui-input-search [search]="pagination.search" (keywordChange)="handleSearch($event)" />

                <button 
                    class="btn btn-lg"
                    color="purple"
                    radius="true"
                    (click)="router.navigateByUrl('/app/create/member')"
                    matRipple
                >CADASTRAR NOVO</button>
            </div>
        </header>
       
        <app-no-data-created 
            message="Você ainda não têm membros cadastrados"
            [isVisible]="listMembers.emptyData"
            labelButton="CADASTRAR NOVO"
            (onCreate)="router.navigateByUrl('/app/create/member')"
        />
                
        <ng-template #loading>
            <ui-table-skeleton />
        </ng-template>

        <ui-command-bar
            [isVisible]="!listMembers.searchNotFound"
            [countSelecteds]="countElements.totalSelected"
            (deleteCommnad)="handleDeleteMany()"
            (generateCredentialsCommnad)="handleGenerateCredentials()"
            [showDeleteCommand]="true"
            [showEmitCredentialCommand]="true"
        />

        <div class="content" *ngIf="members$ | async as members; else loading">
            <table class="ui-table default" *ngIf="members.length != 0">
                <tr>
                    <th>
                        <mat-checkbox
                            [disabled]="pagination.totalElements == 0"
                            [checked]="countElements.everyoneIsSelected"
                            [indeterminate]="countElements.notEveryoneIsSelected"
                            (change)="handleSelectOrUnselectAll($event.checked)"
                        />
                    </th>
                    <th>Foto</th>
                    <th>Membro</th>
                    <th>Estado civil</th>
                    <th>Idade</th>
                    <th>Registrado</th>
                    <th>Ações</th>
                </tr>
                <tr *ngFor="let member of members">
                    <td>
                        <mat-checkbox 
                            [checked]="member.isSelected"
                            (change)="handleSelectOrUnselectOne($event.checked, member.id)"
                        />
                    </td>
                    <td class="photo-column">
                        <img class="photo-member" [src]="member.photo.url" [alt]="member.name" (click)="onFullScreen.run(member.photo)">
                    </td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.maritalStatus | maritalstatus }}</td>
                    <td>{{ member.age }} anos</td>
                    <td>{{ member.createdAt | dateDuration }}</td>
                    <td>
                        <button mat-icon-button (click)="onPrint.run(member.id)">
                            <mat-icon class="material-icons-outlined">badge</mat-icon>
                        </button>
                        <button mat-icon-button (click)="goToEdit.run(member.id)">
                            <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete.run(member.id, member)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
            <app-pagination 
                (changePage)="changePage($event)"
                (changeSize)="changeSizePage($event)"
                [pageable]="listMembers.pageable"
                [isVisible]="!listMembers.searchNotFound"
             />
        </div>
        <such-notfound [keyword]="pagination.search" [isVisible]="listMembers.searchNotFound" />
    </section>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>