section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 16px 0 0 0;
}

button.filter-table {
    color: rgb(var(--gray-6));
}

header button.filter-table {
    color: rgb(var(--gray-6));
}

header button.mat-menu {
    font-family: 'Urbanist', sans-serif !important;
    letter-spacing: -0.9px;
    font-size: 0.84em !important;
}

table tr td:nth-child(1) {
    width: 5%;
    font-weight: 600;
    font-size: 1.05em;
}

table tr td > button {
    color: rgb(var(--dark));
}

table tr td > button:last-child {
    color: rgb(var(--danger));
}

table tr td:nth-child(2) {
    width: min-content;
}

table tr td img.photo-member {
    width: 48px;
    height: 100%;
    border-radius: 8px;
    border: 0.12em solid rgb(var(--gray-2));
}

.input-size-pagination {
    max-width: 150px;
}