@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 20px 0 0 0;
}

button.filter-table {
    color: rgb(var(--gray-6));
}

button {
    color: rgb(var(--gray-8));
}

header button.filter-table {
    color: rgb(var(--gray-6));    
}

header button.mat-menu {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.9px;
    font-size: 0.84em !important;
}

table tr td:nth-child(1) {
    width: 5%;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
    font-size: 1.05em;
}

table tr td:nth-child(2) {
    width: 20%;
}

table tr td img.photo-member {
    max-width: 48px;
    max-height: auto;
    border-radius: 8px;
    border: 0.12em solid rgb(var(--gray-2));
}