<main>
    <section>
        <header>
            <app-page-description title="Membros" subtitle="Cadastrados"></app-page-description>
            <div class="row-flex space-between center-vertical" *ngIf="!listMembers.isEmpty()">
                <button class="filter-table"  [matMenuTriggerFor]="ordination" mat-icon-button>
                    <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #ordination="matMenu">
                    <button
                        mat-menu-item
                        *ngFor="let ordination of order.ordinations"
                        (click)="order.run(ordination.name)"
                    >{{ ordination.label }}
                    </button>
                </mat-menu>
                <div class="input-search">
                    <mat-icon>search</mat-icon>
                    <input 
                        type="text"
                        class="search"
                        [formControl]="formSearch"
                        placeholder="Pesquisar..."
                    >
                </div>
                <button 
                    class="btn btn-lg"
                    color="purple"
                    radius="true"
                    (click)="router.navigateByUrl('/app/create/member')"
                    matRipple
                >CADASTRAR NOVO</button>
            </div>
        </header>
       
        <app-no-data-created message="Você ainda não têm membros cadastrados" [isVisible]="listMembers.isEmpty()">
            <button 
                class="btn btn-lg"
                color="purple"
                radius="true"
                (click)="router.navigateByUrl('/app/create/member')"
                matRipple
            >CADASTRAR NOVO</button>
        </app-no-data-created>

        <app-such-notfound [keyword]="formSearch.value" [isVisible]="listMembers.notFound()"></app-such-notfound>
        
        <div class="row-flex" *ngIf="!listMembers.isEmpty() && !listMembers.notFound()">
            <button 
                class="btn" 
                radius="true" 
                outline="true" 
                color="purple" 
                [matBadge]="countSelecteds"
                matBadgeColor="accent"
                (click)="onPrintAll.run()"
            >IMPRIMIR</button>
        </div>
        <table class="ui-table default" *ngIf="!listMembers.isEmpty() && !listMembers.notFound()">
            <tr>
                <th></th>
                <th>Foto</th>
                <th>Membro</th>
                <th>Cargo</th>
                <th>Idade</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let member of members">
                <td>
                    <mat-checkbox 
                        [checked]="member.isSelected"
                        (change)="onSelect.run($event.checked, member)"
                    ></mat-checkbox>
                </td>
                <td>
                    <img class="photo-member" [src]="member.photo.url" [alt]="member.name">
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.role.name }}</td>
                <td>{{ member.age }} anos</td>
                <td>{{ member.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button (click)="onPrint.run(member.id)">
                        <mat-icon>print</mat-icon>
                    </button>
                    <button mat-icon-button (click)="goToEdit.run(member.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete.run(member.id, member)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination (changePage)="nextPage($event.label)"></app-pagination>
    </section>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>