@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

footer {
    font-size: 100%;
    margin-top: 24px;
    padding: 24px;
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.6pt solid rgb(var(--gray-3));
}

footer ul.navigation {
    list-style: none;
    display: flex;
    column-gap: 16px;
}


footer ul.navigation li a {
    letter-spacing: -0.2px;
    text-decoration: none;
    font-size: 1.09em;
    color: rgb(var(--dark-0));
    font-weight: 550;
    transition: all 0.5s;
}

footer ul.navigation li a:hover {
    color: rgb(var(--purple));
}

.copyright {
    font-family: 'Urbanist', sans-serif;
    font-size: 0.99em;
    letter-spacing: 0.3px;
    color: rgb(var(--gray-7));
}

.copyright strong {
    font-family: 'Days One', sans-serif;
    font-size: 0.98em;
    letter-spacing: 0.2px;
    color: rgb(var(--dark-0));
    text-decoration: underline;
}