<footer>
    <div class="logo">
        <img src="../../../assets/img/e-cred.logo.png" alt="Logo E-CRED System">
        <p>&copy; SE-CRED {{ currentYear }}</p>
    </div>
    <hr class="separator">
    <div class="row-flex space-between">
        <div class="support">
            <p>Contatos do Desenvolvedor</p>
            <p>
                <mat-icon>call</mat-icon>
                +55 (85) 98971-1010
            </p>
            <p>
                <mat-icon>mail</mat-icon>
                samuelgsete@hotmail.com
            </p>
        </div>
        <p class="copyright">
            <strong>&copy; SE-CRED {{ currentYear }}</strong> - Todos os direitos autorais estão reservados
        </p>
    </div>
</footer>