<header class="top-bar">
    <div class="user-logged">
        <h1>Bem-vindo(a) 
            <strong>{{ user }}</strong>
        </h1>
    </div>
    <ul class="nav-menu">
        <li class="nav-item" matRipple (click)="router.navigateByUrl('/app/members')">
            <mat-icon>home</mat-icon>
            Início
        </li>
        <li class="nav-item" matRipple (click)="managerUser.run()">
            <mat-icon>settings</mat-icon>
            Conta
        </li>
        <li class="nav-item" matRipple (click)="logout.run()">
            <mat-icon>logout</mat-icon>
            Sair
        </li>
    </ul>
</header>