<main>
    <section>
        <header>
            <app-page-description title="Campos" subtitle="Cadastrar"></app-page-description>
        </header>
        <div class="content">
            <mat-stepper orientation="vertical" animationDuration="420" [linear]="!true" scrollStepperFix>
                <mat-step label="Dados do Campo" [stepControl]="step1" state="account" errorMessage="Revise essa etapa">
                    <app-create-field-step1 [form]="step1"></app-create-field-step1>
                    <div class="row-flex">
                        <button 
                            class="btn btn-lg"
                            color="purple"
                            radius="true"
                            [disabled]="!step1.valid"
                            matStepperNext
                            matRipple
                        >PRÓXIMO</button>
                    </div>
                </mat-step>
                <mat-step label="Pastor Presidente" [stepControl]="step2" state="contact" errorMessage="Revise essa etapa">
                    <form [formGroup]="step2">
                        <app-create-field-step2 [form]="step2"></app-create-field-step2>
                        <div class="row-flex">
                            <button 
                                class="btn btn-lg"
                                color="dark"
                                radius="true"
                                matStepperPrevious
                                matRipple
                            >ANTERIOR</button>
                            <button 
                                class="btn btn-lg"
                                color="purple"
                                radius="true"
                                [disabled]="!step2.valid"
                                matStepperNext
                                matRipple
                            >PRÓXIMO</button>
                        </div>
                    </form>
                </mat-step>
               
                <mat-step label="Confirmar" state="done">
                    <div class="complete-registration">
                        <img 
                            src="/assets/img/svg/completing_re_i7ap.svg"
                            alt="Complete Registration" 
                            width="120px"
                        >
                        <p>Tudo pronto!</p>
                    </div>
                    <div class="row-flex center-horizontal">
                        <button 
                            class="btn btn-lg"
                            color="light"
                            radius="true"
                            matStepperPrevious
                            matRipple
                        >REVISAR</button>
                        <button 
                            class="btn btn-lg"
                            color="success"
                            radius="true"
                            matRipple
                        >
                            <div class="progress-bar"></div>
                            CONCLUIR CADASTRO
                        </button>
                    </div>
                </mat-step>
                <ng-template matStepperIcon="account">
                    <mat-icon>person</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="contact">
                    <mat-icon>contact_mail</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="done">
                    <mat-icon>done</mat-icon>
                </ng-template>
            </mat-stepper>
        </div>
    </section>
</main>