@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

ul.pagination {
    list-style: none;
    display: flex;
    margin-top: 2%;
    column-gap: 0.6em;
    justify-content: right;
    align-items: center;
}

li.previous-page, li.next-page {
    cursor: pointer;
    color: rgb(var(--gray-7));
    padding: 6px;
    transition: all 0.6s;
}

li.previous-page:hover, li.next-page:hover {
    background-color: rgb(var(--gray-1));
    color: rgb(var(--dark));
}

li.disabled {
    color: rgb(var(--gray-4));
    pointer-events: none;
    cursor: not-allowed;
}

ul.pagination li.page {
    padding: 8px 14px;
    margin-right: 4px;
    color: rgb(var(--gray-7));
    font-size: 1.05em;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
}

ul.pagination li.page:hover {
    background-color: rgb(var(--gray-3));
}

ul.pagination li.isCurrent {
    background-color: rgb(var(--purple));
    color: rgb(var(--gray-0));
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: fade 0.35s;
}