.ui-nav-pagination {
    padding: 12px 16px;
    margin: 16px 0 0 0;
    display: flex;
    column-gap: 4px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--gray-2));
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ui-nav-pagination
.pagination-content {
    display: flex;
    align-items: center;
    
}

.ui-nav-pagination
.pagination-content
.page_size {
    width: 148px;
    height: 56px;
    transform: scale(86%);
}

.ui-nav-pagination
.pagination-content
.size-options {
    font-size: 0.84em;
}

.ui-nav-pagination
.pagination-content span {
    font-size: 0.98em;
    font-weight: 600;
    padding: 8px;
    margin-right: 4px;
    border-right: 1.5pt solid rgb(var(--gray-4));
}

.ui-nav-pagination
.pagination-total span strong {
    font-size: 1.42em;
    font-weight: 700;
    color: rgb(var(--purple));
}


.ui-nav-pagination
.pagination-total span {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.ui-nav-pagination 
.pagination-content
.pagination-details {
    color: rgb(var(--gray-7));
} 

.ui-nav-pagination 
.pagination-content
button {
    color: rgb(var(--dark-0));
}

.ui-nav-pagination 
.pagination-content
button[disabled=true] {
    background-color: transparent !important;
    color: rgb(var(--gray-5)) !important;
    cursor: not-allowed !important;
}