@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

ul.pagination {
    list-style: none;
    display: flex;
    margin-top: 16px;
    column-gap: 0.6em;
    justify-content: right;
    align-items: center;
}

li.disabled {
    color: rgb(var(--gray-4));
    pointer-events: none;
    cursor: not-allowed;
}

ul.pagination li.page {
    padding: 12px 16px;
    color: rgb(var(--gray-7));
    font-size: 1.16em;
    font-weight: 550;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
}

ul.pagination li.page:hover {
    background-color: rgb(var(--gray-3));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

ul.pagination li.isCurrent {
    background-color: rgb(var(--dark-0));
    color: rgb(var(--gray-4));
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: fade 0.35s;
}