p.page-description {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 0.97em;
    font-weight: 600;
    color: rgb(var(--gray-6));
    letter-spacing: -0.2px;
    font-family: 'Urbanist', sans-serif !important;
    cursor: pointer;
    transition: all 6ms;
    padding: 10px 0;
}

p.page-description span:hover {
    text-decoration: underline;
}

p.page-description mat-icon {
    transform: scale(78%);
    color: rgb(var(--purple));
}