<form [formGroup]="form">
    <div class="row-flex">
        <div class="alert" color="purple">
            <mat-icon class="icon-alert">warning</mat-icon>
            <div class="content">
                <h4 class="title">Atenção</h4>
                <p class="message">
                    Para uma melhor experiência visual utilize imagens de boa definição.
                    As Fotos3x4 podem ser tiradas com a câmera de um smartphone ou digitalizadas com um scanner.
                    As assinaturas podem ser digitalizadas com um scanner ou por meio de um aplicativo de smartphone.
                    Formatos de imagens aceitos: jpg, jpeg e png.
                </p>
            </div>
        </div>
    </div>
   <div class="ui-upload-image" *ngIf="!uploadPhoto.uploading()  && !isUploadedPhoto" matRipple>
        <mat-icon class="icon-image">upload</mat-icon>
        <label for="input-file-photo">
            Clique aqui para carregar a Foto3x4
        </label>
        <input 
            id="input-file-photo"
            type="file"
            (change)="onChangePhoto($event)"
            accept="image/png, image/jpeg" hidden
        >
    </div>
    <div>
        <app-upload-image-skeleton [isVisible]="uploadPhoto.uploading()"></app-upload-image-skeleton>
        <app-uploaded-image-preview [uploadedImage]="photo" [isUploaded]="isUploadedPhoto" [destroy]="destroyerPhoto"></app-uploaded-image-preview>                   
    </div>
    <div class="ui-upload-image" *ngIf="!uploadSignature.uploading() && !isUploadedSignature" matRipple>
        <mat-icon class="icon-image">upload</mat-icon>
        <label for="input-file">
            Clique aqui para carregar a Assinatura
        </label>
        <input 
            id="input-file"
            type="file"
            (change)="onChangeSignature($event)"
            accept="image/png, image/jpeg" 
            hidden
        >
    </div>
    <div>
        <app-upload-image-skeleton [isVisible]="uploadSignature.uploading()"></app-upload-image-skeleton>
        <app-uploaded-image-preview [uploadedImage]="signature" [isUploaded]="isUploadedSignature" [destroy]="destroyerSignature"></app-uploaded-image-preview>                 
    </div>
</form>