<form [formGroup]="form">
    <div class="row-flex">
        <div class="alert" color="purple">
            <mat-icon class="icon-alert">warning</mat-icon>
            <div class="content">
                <h4 class="title">Atenção</h4>
                <p class="message">
                    Para uma melhor experiência visual utilize imagens de boa definição.
                    As Fotos3x4 podem ser tiradas com a câmera de um smartphone ou digitalizadas com um scanner.
                    As assinaturas podem ser digitalizadas com um scanner ou por meio de um aplicativo de smartphone.
                    Formatos de imagens aceitos: jpg, jpeg e png.
                </p>
            </div>
        </div>
    </div>
    <div  class="ui-upload-image" *ngIf="!isUploadedPhoto" matRipple>
        <mat-icon class="icon-image" [ngClass]="{ 'uploading-icon': uploadPhoto.progress() != 0 }">upload</mat-icon>
        <label for="input-file-photo" *ngIf="uploadPhoto.progress() == 0">
            Clique aqui carregar a Foto3x4
        </label>
        <label class="upload-progress" *ngIf="uploadPhoto.progress() != 0">
            {{ uploadPhoto.progress() }}% Concluído
        </label>
        <input
            id="input-file-photo"
            type="file"
            (change)="onChangeFile($event, 'photo')"
            accept="image/png, image/jpeg"
            hidden
        >
        <div class="progress-upload" *ngIf="uploadPhoto.progress() != 0">    
            <mat-progress-bar mode="determinate" [value]="uploadPhoto.progress()"></mat-progress-bar>
        </div>
    </div>
    <div>
        <app-uploaded-photo-preview 
            [isUploaded]="isUploadedPhoto" [photo]="form.value.photo"
        ></app-uploaded-photo-preview>                   
    </div>
    <div class="ui-upload-image" *ngIf="!isUploadedSignature" matRipple>
        <mat-icon class="icon-image" [ngClass]="{ 'uploading-icon': uploadSignature.progress() != 0 }">upload</mat-icon>
        <label for="input-file" *ngIf="uploadSignature.progress() == 0">
            Clique aqui ou arraste e solte para carregar a Assinatura
        </label>
        <label for="input-file" *ngIf="uploadSignature.progress() != 0">
            {{ uploadSignature.progress() }}% Concluído
        </label>
        <input 
            id="input-file"
            type="file"
            (change)="onChangeFile($event, 'signature')"
            accept="image/png, image/jpeg" 
            hidden
        >
        <div class="progress-upload" *ngIf="uploadSignature.progress() != 0">    
            <mat-progress-bar mode="determinate" [value]="uploadSignature.progress()"></mat-progress-bar>
        </div>
    </div>
    <div>
        <app-uploaded-signature-preview
            [isUploaded]="isUploadedSignature" [signature]="form.value.signature"
        ></app-uploaded-signature-preview>                   
    </div>
</form>