mat-panel-title {
    font-size: 0.94em;
    font-weight: 650;
    color: rgb(var(--dark))
}

mat-panel-description {
    font-size: 0.99em;
    color: rgb(var(--gray-8));
}

section.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}