<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/purplethemespecial-print.css}" rel="stylesheet" />
        <title>Página de Impressão</title>
    </head>
    <body>
        <main>
            <div class="template-credential" th:each="member : ${members}">
                <div class="template-credential">
                    <div class="back">
                        <p class="date-of-issue">
                            EMITIDO EM
                            <span th:text="${dateFormatter.run(dateOfIssue, 'dd-MM-yyyy hh:mm:ss')}"></span>
                        </p>
                        <div class="grid">
                            <div class="ui-text">
                                <label>CPF</label>
                                <p th:text="${cpfFormatter.run(member.cpf)}"></p>
                            </div>
                            <div class="ui-text">
                                <label>RG</label>
                                <p th:text="${member.rg} ?: '************' "></p>
                            </div>
                            <div class="ui-text">
                                <label>Data de Batismo</label>
                                <p th:text="${dateFormatter.run(member.dateOfBaptism, 'dd/MM/yyyy')}"></p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="ui-text">
                                <label>Estado Civil</label>
                                <p th:text="${maritalStatusFormatter.run(member.maritalStatus, member.gender)}"></p>
                            </div>
                            <div class="ui-text">
                                <label>Data de Nascimento</label>
                                <p th:text="${dateFormatter.run(member.dateOfBirth, 'dd/MM/yyyy')}"></p>
                            </div>
                            <div class="ui-text">
                                <label>Cargo</label>
                                <p th:text="${member.role.name}"></p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="signature-member">
                                <img
                                    th:src="${member.signature.url}"
                                    alt="Assinatura do membro"
                                    width="100%"
                                >
                            </div>
                            <p class="name-member" th:text="${member.name}"></p>
                            <p class="carrier-member">MEMBRO PORTADOR</p>
                        </div>
                        <div class="shepherd">
                            <div class="signature-shepherd">
                                <img 
                                    th:src="@{/img/assinatura-pastor.png}"
                                    alt="Assinatura do pastor" 
                                    width="100%" 
                                    height="auto"
                                >
                            </div>
                            <p class="name-shepherd">Moisés Gonçalves Rodrigues</p>
                            <p class="president-shepherd">PASTOR PRESIDENTE</p>
                        </div>
                    </div>
                    <div class="front">
                        <div class="banner">
                            <img th:src="@{/img/purple-logo.png}" alt="Assembléia de Deus">
                        </div>
                        <div class="row-1">
                            <div class="photo">
                                <img
                                    th:src="${member.photo.urlTransformed}" 
                                    alt="Photo of Member" 
                                    width="100%" 
                                    height="100%"
                                >
                            </div>
                            <div class="ui-text">
                                <label>Nome</label>
                                <p th:text="${member.name}"></p>
                            </div>
                            <div class="ui-text">
                                <label>ID</label>
                                <p th:text="${member.id}"></p>
                            </div>
                        </div>
                        <div class="row-flex" horizontal-align="space-between">
                            <div class="ui-text">
                                <label>Filiação</label>
                                <p th:text="${member.affiliation.fatherName} ?: '************ *****' "></p>
                                <p th:text="${member.affiliation.motherName} ?: '************ *****' "></p>
                            </div>
                            <div class="ui-text">
                                <label>Congregação</label>
                                <p th:text="${member.congregation.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>