<main>
    <h1 class="modal-title">Novo Cargo</h1>
    <form [formGroup]="form">
        <div class="row-flex">
            <mat-form-field class="width-fix" appearance="fill" color="primary">
                <mat-label>Nome</mat-label>
                <input 
                    formControlName="name"
                    placeholder="Ex.: Presbítero"
                    minlength="2" 
                    maxlength="24"
                    max="24"
                    matInput 
                    required
                >
                <mat-error *ngIf="form.controls.name.errors?.['required']">
                    Esse campo é obrigatório
                </mat-error>
                <mat-error *ngIf="form.controls.name.errors?.['minlength']">
                    Informe no mínimo 2 caracteres
                </mat-error>
                <mat-error *ngIf="form.controls.name.errors?.['maxlength']">
                    Informe no máximo 24 caracteres
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row-flex" horizontal-align="center">
            <button 
                class="btn btn-sm"
                color="dark"
                block="true"
                [disabled]="!form.valid"
                (click)="createRole.run(form.value)"
                matRipple
            >CADASTRAR</button>
        </div>
        <div class="row-flex" horizontal-align="center">
            <button 
                class="btn btn-sm"
                color="light"
                block="true"
                (click)="modalRef.close()"
                matRipple
            >CANCELAR</button>
        </div>
    </form>
</main>