* {
    margin: 0;
    padding: 0;
}

section {
    padding: 32px 0 0 0;
}

div.content {
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(var(--gray-2));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

mat-stepper {
    padding: 24px;
    width: 664px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

div.complete-registration {
    text-align: center;
}

div.complete-registration p {
    color: rgb(var(--dark));
    font-weight: 600;
    font-size: 1.15em;
    margin: 6px 0;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 0.3px;
}