<main>
    <mat-stepper orientation="vertical" animationDuration="420" [linear]="!true">
        <mat-step label="Dados Pessoais" [stepControl]="step1" state="account" errorMessage="Revise essa etapa">
            <app-step1 [form]="step1"></app-step1>           
            <div class="row-flex">
                <button 
                    class="btn"
                    color="purple"
                    radius="true"
                    [disabled]="!step1.valid"
                    matStepperNext
                    matRipple
                >PRÓXIMO</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="step2" label="Contato" state="contact" errorMessage="Revise essa etapa">
            <form [formGroup]="step2">
                <app-step2 [form]="step2"></app-step2>
                <div class="row-flex">
                    <button 
                        class="btn"
                        color="dark"
                        radius="true"
                        matStepperPrevious
                        matRipple
                    >ANTERIOR</button>
                    <button 
                        class="btn"
                        color="purple"
                        radius="true"
                        [disabled]="!step2.valid"
                        matStepperNext
                        matRipple
                    >PRÓXIMO</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Filiação" [stepControl]="step3" state="group-add" errorMessage="Revise essa etapa">
            <form [formGroup]="step3">
                <app-step3 [form]="step3"></app-step3>
                <div class="row-flex">
                    <button 
                        class="btn"
                        color="dark"
                        radius="true"
                        matStepperPrevious
                        matRipple
                    >ANTERIOR</button>
                    <button 
                        class="btn"
                        color="purple"
                        radius="true"
                        [disabled]="!step3.valid"
                        matStepperNext
                        matRipple
                    >PRÓXIMO</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Imagens" [stepControl]="step4" state="add-image" errorMessage="Revise essa etapa">
            <app-step4 [form]="step4"></app-step4>
            <div class="row-flex">
                <button 
                    class="btn"
                    color="dark"
                    radius="true"
                    matStepperPrevious
                    matRipple
                >ANTERIOR</button>
                <button 
                    class="btn"
                    color="purple"
                    radius="true"
                    matStepperNext
                    [disabled]="!step4.valid"
                    matRipple
                >PRÓXIMO</button>
            </div>
        </mat-step>
        <mat-step label="Confirmar" state="done">
            <div class="complete-registration">
                <img 
                    src="/assets/img/svg/completing_re_i7ap.svg"
                    alt="Complete Registration" 
                    width="120px"
                >
                <p>Tudo pronto!</p>
            </div>
            <div class="row-flex" horizontal-align="center">
                <button 
                    class="btn"
                    color="light"
                    radius="true"
                    matStepperPrevious
                    matRipple
                >REVISAR</button>
                <button 
                    class="btn"
                    color="success"
                    radius="true"
                    
                    (click)="createMember.run(data.run(step1, step2, step3, step4))"
                    matRipple
                >
                    <div class="progress-bar" [ngStyle]="{ 'width' : createMember.getProgressDone() }"></div>
                    CONCLUIR CADASTRO
                </button>
            </div>
        </mat-step>
        <ng-template matStepperIcon="account">
            <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="contact">
            <mat-icon>contact_mail</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="group-add">
            <mat-icon>group_add</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="add-image">
            <mat-icon>add_photo_alternate</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
        </ng-template>
    </mat-stepper>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>