<nav class="side-bar">
    <img class="logotipo" src="/assets/img/ecm-logo-removebg-preview.png" alt="Logotipo">
    <ul>
        <li 
            class="nav-item"
            [ngClass]="{ 'active' : route.isActive }"
            *ngFor="let route of routes"
            (click)="goTo(route)"
            matRipple
        >
            <mat-icon>{{ route.icon }}</mat-icon>
            <a routerLinkActive="active">{{ route.name }}</a>
        </li>
        <li class="nav-item" (click)="toPrint()" matRipple>
            <mat-icon>print</mat-icon>
            <a>Imprimir</a>
        </li>
    </ul>

    <button class="logout" mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>
</nav>