<nav class="side-bar">
    <img class="logotipo" src="/assets/img/ecm-logo-removebg-preview.png" alt="Logotipo">
    <ul class="nav-menu">
        <li class="nav-item" *ngFor="let route of routes" matRipple>
            <a *ngIf="route.name != 'Imprimir'" class="item-link" [routerLink]="route.path" routerLinkActive="active">
                <mat-icon>{{ route.icon }}</mat-icon>
                {{ route.name }}
            </a>
            <a class="item-link" *ngIf="route.name == 'Imprimir'" (click)="print.all()">
                <mat-icon>{{ route.icon }}</mat-icon>
                {{ route.name }}
            </a>
        </li>
    </ul>

    <div class="user-avatar">L</div>
</nav>