@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav.ui-side-bar {
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: rgb(var(--gray-2));
    border-right: 1.6pt solid rgb(var(--gray-3));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav.ui-side-bar .logo img {
    padding: 32px;
    width: 58%;
    cursor: pointer;
}

nav.ui-side-bar ul.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-top: 1.6pt solid rgb(var(--gray-3));
    border-bottom: 1.6pt solid rgb(var(--gray-3));
}

nav.ui-side-bar
ul.nav-menu {
    padding: 32px 0;
}

nav.ui-side-bar
ul.nav-menu
li.nav-item {
    transition: all 0.5s;
}

nav.ui-side-bar
ul.nav-menu
li.nav-item:hover {
    background-color: rgb(var(--gray-4));
}

nav.ui-side-bar
ul.nav-menu
li.nav-item
a.item-link {
    color: rgb(var(--gray-6));
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.89rem;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 550;
    letter-spacing: -0.5px;
    padding: 10px 24px;
}

nav.ui-side-bar
ul.nav-menu
li.nav-item
a.item-link
mat-icon {
    color: rgb(var(--dark));
}

nav.ui-side-bar
ul.nav-menu 
li.nav-item
a.active {
    color: rgb(var(--purple));
    background-color: rgba(var(--purple),0.06);
}

nav.ui-side-bar
ul.nav-menu 
li.nav-item
a.active
mat-icon {
    color: rgb(var(--purple));
}

.user-logged p, h1 {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.user-logged {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 24px 8px;
    cursor: pointer;
    background-color: rgb(var(--gray-1));
}

.user-logged
.initial-name h1 {
    border: 1.8px solid rgb(var(--dark));
    color: rgb(var(--dark-0));
    font-weight: 550;
    font-size: 1.75em;
    background-color: rgba(var(--purple), 0.14);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.user-logged 
.user-details
p.name {
    letter-spacing: -0.3px;
    font-weight: 550;
    font-size: 0.92em;
}

.user-logged 
.user-details
p.email {
    color: rgb(var(--gray-6));
    font-size: 0.82em;
    letter-spacing: -0.6px;
}