@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav.side-bar {
    background-color: rgb(var(--gray-1));
    width: 85px;
    height: calc(100% - 20px);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 0;
    overflow-y: auto;
}

img.logotipo {
    width: 40px;
}

div.name-initial {
    font-family: 'Geologica', sans-serif;
    border: 1.8px solid rgb(var(--dark));
    color: rgb(var(--purple));
    font-weight: 600;
    font-size: 1.55em;
    background-color: rgba(var(--purple), 0.14);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav.side-bar ul.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav.side-bar ul.nav-menu li.nav-item a.item-link {
    padding: 12px 6px;
    display: flex;
    flex-direction: column;
    color: rgb(var(--gray-5));
    align-items: center;
    row-gap: 4px;
    font-size: 0.64em;
    font-weight: 600;
    line-height: -0.9px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border-left: 2.4pt solid transparent;
    border-right: 2.4pt solid transparent;
    text-align: center;
    transition: all 0.6s;
}

nav.side-bar ul.nav-menu li.nav-item a.item-link mat-icon {
    transform: scale(85%);
    color: rgb(var(--purple));
}

nav.side-bar ul.nav-menu li.nav-item a.item-link {
    color: rgb(var(--gray-6));
    text-decoration: none;
}

nav.side-bar ul.nav-menu li.nav-item a.item-link:hover {
    background-color: rgba(var(--purple), 0.2);
}

nav.side-bar ul.nav-menu li.nav-item a.active {
    background-color: rgb(var(--gray-3));
    border-left: 2.4pt solid rgb(var(--purple));
    color: rgb(var(--purple));
}