div.row-flex {
    display: flex;
    column-gap: 0.9em;
    margin: 0.9em 0;
    width: 100%;
}

div.center {
    align-items: center;
}

div.space-between {
    justify-content: space-between;;
}


div.row-flex[horizontal-align="space-between"] {
    justify-content: space-between;
}

div.row-flex[horizontal-align="center"] {
    justify-content: center;
}

div.row-flex[vertial-align="space-between"] {
    align-items: space-between;
}

div.row-flex[vertical-align="center"] {
    align-items: center;
}