@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@import url('./colors.css');

div.input-search {
    background-color: rgb(var(--gray-2));
    position: relative;
    width: 200px;
    height: 46px;
    border-radius: 25px;
}

div.input-search input.search {
    width: 90%;
    height: 100%;
    border: none;
    color: rgb(var(--gray-8));
    padding: 0 0 0 20%;
    font-family: 'Maven Pro', sans-serif;
    background-color: transparent;
}

div.input-search input.search:focus {
    outline: none;
}

div.input-search mat-icon {
    position: absolute;
    left: 6px;
    top: 6px;
    color: rgb(var(--gray-5));
    border-radius: 50%;
    padding: 6px;
}