@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@import url('./colors.css');

div.input-search {
    position: relative;
    width: 130px;
    height: 46px;
    padding-right: 15px;
    border-radius: 25px;
}

div.input-search input.search {
    width: 100%;
    height: 100%;
    border: none;
    color: rgb(var(--gray-8));
    padding: 0 38px 0 38px;
    font-family: 'Urbanist', sans-serif;
    border-radius: 25px;
    background-color: rgb(var(--gray-1));
    border: 1.2pt solid rgb(var(--gray-2));
    transition: all 0.6s;
}

div.input-search input.search:focus {
    outline: none;
    background-color: rgb(var(--gray-2));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

div.input-search mat-icon {
    position: absolute;
    left: 6px;
    top: 6px;
    color: rgb(var(--gray-6));
    border-radius: 50%;
    padding: 6px;
}