<main>
    <section>
        <header>
            <app-page-description title="Congregações" subtitle="Cadastradas"></app-page-description>
            <div class="row-flex space-between center-vertical" *ngIf="!listCongregations.isEmpty()">
                <button class="filter-table" [matMenuTriggerFor]="ordination" mat-icon-button>
                    <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #ordination="matMenu">
                    <button
                        mat-menu-item
                        *ngFor="let ordination of order.ordinations"
                        (click)="order.run(ordination.name)"
                    >
                        {{ ordination.label }}
                    </button>
                </mat-menu>
                <div class="input-search">
                    <mat-icon>search</mat-icon>
                    <input 
                        type="text"
                        class="search"
                        [formControl]="formSearch"
                        placeholder="Pesquisar..."
                    >
                </div>
                <button 
                    class="btn btn-lg"
                    color="purple"
                    radius="true"
                    (click)="openCreateCongregationComponent()"
                    matRipple
                >CADASTRAR NOVA</button>
            </div>
        </header>

        <app-no-data-created message="Você ainda não têm congregações cadastradas" [isVisible]="listCongregations.isEmpty()">
            <button 
                class="btn btn-lg"
                color="purple"
                radius="true"
                (click)="openCreateCongregationComponent()"
                matRipple
            >CADASTRAR NOVA</button>
        </app-no-data-created>

        <app-such-notfound [keyword]="formSearch.value" [isVisible]="listCongregations.notFound()"></app-such-notfound>
        
        <table class="ui-table stripped" *ngIf="!listCongregations.isEmpty() && !listCongregations.notFound()">
            <tr>
                <th>ID</th>
                <th>Congregação</th>
                <th>Total cadastrado</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let congregation of congregations">
                <td>{{ congregation.id }}</td>
                <td>{{ congregation.name }}</td>
                <td>{{ congregation.numberOfMembers }} membro(s)</td>
                <td>{{ congregation.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button (click)="openUpdateCongregationComponent(congregation)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination (changePage)="nextPage($event.label)"></app-pagination>
    </section>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>