<main>
    <section>
        <header>
            <app-page-description title="Congregações" subtitle="Cadastradas" />
            <div class="row-flex space-between center-vertical" *ngIf="!listCongregations.emptyData">
                <order-list [ordinations]="order.ordinations" (changeOrdination)="changeOrdination($event)" />
                <ui-input-search (keywordChange)="onSearch($event)" />
                <button 
                    class="btn btn-lg"
                    color="purple"
                    radius="true"
                    (click)="openCreateCongregationComponent()"
                    matRipple
                >CADASTRAR NOVA</button>
            </div>
        </header>

        <app-no-data-created 
            message="Você ainda não têm congregações cadastradas"
            [isVisible]="listCongregations.emptyData"
            labelButton="CADASTRAR NOVA"
            (onCreate)="openCreateCongregationComponent()"
        />
        
        <ui-command-bar
            [countSelecteds]="countElements.totalSelected"
            (deleteCommnad)="deleteSelecteds()"
            [showDeleteCommand]="true"
        />

        <ng-template #loading>
            <ui-table-skeleton />
        </ng-template>
        
        <div class="content" *ngIf="congregations$ | async as congregations; else loading">
            <table class="ui-table stripped" *ngIf="congregations.length != 0">
                <tr>
                    <th>
                        <mat-checkbox
                            (change)="onSelectAll($event.checked)"
                            [checked]="countElements.everyoneIsSelected"
                            [indeterminate]="countElements.notEveryoneIsSelected"
                        ></mat-checkbox>
                    </th>
                    <th>Congregação</th>
                    <th>Total cadastrado</th>
                    <th>Registrado</th>
                    <th>Última Atualização</th>
                    <th>Ações</th>
                </tr>
                <tr *ngFor="let congregation of congregations">
                    <td><mat-checkbox [checked]="congregation.isSelected" (change)="onSelect(congregation.id, $event.checked)"></mat-checkbox></td>
                    <td>{{ congregation.name }}</td>
                    <td>{{ congregation.numberOfMembers }} membro(s)</td>
                    <td>{{ congregation.createdAt | dateDuration }}</td>
                    <td>{{ congregation.updatedAt | dateDuration }}</td>
                    <td>
                        <button mat-icon-button [disabled]="congregation.numberOfMembers <= 0" (click)="onEmit.run(congregation.name)">
                            <mat-icon class="material-icons-outlined">badge</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openUpdateCongregationComponent(congregation)">
                            <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete.run(congregation.id, congregation)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
            <app-pagination (changePage)="changePage($event.value)" [pageable]="listCongregations.pageable" />
        </div>
        <such-notfound [keyword]="searchValue" [isVisible]="listCongregations.searchNotFound" />
    </section>
</main>