<main>
    <section>
        <header>
            <div class="row-flex space-between center-vertical" *ngIf="!listCongregations.emptyData">
                <order-list
                    [disabled]="listCongregations.searchNotFound"
                    [ordinations]="order.ordinations"
                    [selectedOrdination]="pagination.ordination"
                    (changeOrdination)="changeOrdination($event)"
                />
                
                <ui-input-search [search]="pagination.search" (keywordChange)="handleSearch($event)" />
                <button 
                    class="btn btn-lg rounded-sm"
                    color="purple"
                    (click)="openCreateCongregationComponent()"
                    matRipple
                >CADASTRAR NOVA</button>
            </div>
        </header>

        <app-no-data-created 
            message="Você ainda não têm congregações cadastradas"
            [isVisible]="listCongregations.emptyData"
            labelButton="CADASTRAR NOVA"
            (onCreate)="openCreateCongregationComponent()"
        />
        
        <ng-template #loading>
            <ui-table-skeleton />
        </ng-template>
        
        <div class="content" *ngIf="congregations$ | async as congregations; else loading">
            <ui-command-bar
                [isVisible]="!listCongregations.searchNotFound"
                [countSelecteds]="countElements.totalSelected"
                (deleteCommnad)="handleDeleteMany()"
                [showDeleteCommand]="true"
            />
            <table class="ui-table default" *ngIf="congregations.length != 0">
                <tr>
                    <th>
                        <mat-checkbox
                            [disabled]="pagination.totalElements == 0"
                            (change)="handleSelectOrUnselectAll($event.checked)"
                            [checked]="countElements.everyoneIsSelected"
                            [indeterminate]="countElements.notEveryoneIsSelected"
                        />
                    </th>
                    <th>Congregação</th>
                    <th>Total cadastrado</th>
                    <th>Registrado</th>
                    <th>Última Atualização</th>
                    <th>Ações</th>
                </tr>
                <tr *ngFor="let congregation of congregations">
                    <td>
                        <mat-checkbox 
                            [checked]="congregation.isSelected"
                            (change)="handleSelectOrUnselectOne(congregation.id, $event.checked)" 
                        />
                    </td>
                    <td>{{ congregation.name }}</td>
                    <td>{{ congregation.numberOfMembers }} membro(s)</td>
                    <td>{{ congregation.createdAt | dateDuration }}</td>
                    <td>{{ congregation.updatedAt | dateDuration }}</td>
                    <td>
                        <button 
                            mat-icon-button
                            [disabled]="congregation.numberOfMembers <= 0"
                            (click)="handleDisplayMembers(congregation.name)"
                        >
                            <mat-icon class="material-icons-outlined">storage</mat-icon>
                        </button>
                        <button 
                            mat-icon-button
                            [disabled]="congregation.numberOfMembers <= 0" 
                            (click)="handleEmitCredentialsOfCongregation(congregation.name)"
                        >
                            <mat-icon class="material-icons-outlined">badge</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openUpdateCongregationComponent(congregation)">
                            <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete.run(congregation.id, congregation)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
            <app-pagination 
                (changePage)="changePage($event)"
                (changeSize)="changeSizePage($event)"
                [pageable]="listCongregations.pageable"
                [isVisible]="!listCongregations.searchNotFound"
            />
        </div>
        <such-notfound [keyword]="pagination.search" [isVisible]="listCongregations.searchNotFound" />
    </section>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>