<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Temas de Credenciais</mat-panel-title>
            <mat-panel-description>{{ this.pagination.total }} disponíveis</mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template #loading>
            <ui-table-skeleton />
        </ng-template>

        <div class="content" *ngIf="themes$ | async as themes; else loading">
            <table class="ui-table default">
                <tr>
                    <th>ID</th>
                    <th>Tema</th>
                    <th>Status</th>
                    <th>última Atualização</th>
                    <th>Ações</th>
                </tr>
                <tr *ngFor="let theme of themes">
                    <td>{{ theme.id }}</td>
                    <td>{{ theme.name }}</td>
                    <td>
                        <div [ngClass]="{ 'active' : theme.isActive, 'inactive' : !theme.isActive }" matRipple>
                            {{ theme.isActive ? 'ATIVADO' : 'DESATIVADO' }}
                        </div>
                    </td>
                    <td>{{ theme.updatedAt | dateDuration }}</td>
                    <td>
                        <button
                            class="btn btn-sm"
                            color="dark"
                            radius="true"
                            outline="true"
                            (click)="makeThemeToMain.run(theme.id)"
                            [disabled]="theme.isActive"
                            matRipple
                        >ATIVAR</button>
                    </td>
                </tr>
            </table>
            <app-pagination (changePage)="changePage($event.value)" [pageable]="listThemes.pageable" />
        </div>
    </mat-expansion-panel>
</mat-accordion>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>