<main>
    <ng-template #loading>
        <div class="container">
            <ui-card-skeleton *ngFor="let card of [0,1,3,4]" />
        </div>
    </ng-template>
    <div class="content" *ngIf="themes$ | async as themes; else loading">
        <div class="container">
            <ui-card-cred-theme 
                *ngFor="let theme of themes" 
                [credTheme]="theme"
                (onActive)="handleActiveTheme(theme.id)"
            />
        </div>
        <app-pagination 
            (changePage)="changePage($event)"
            (changeSize)="changeSizePage($event)"
            [pageable]="listThemes.pageable"
        />
    </div>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>