@import url('./assets/css/main.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
}

.width-fix {
    width: 100%;
}

mat-error, mat-hint {
    font-size: 0.98em;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 2em 0;
    width: 100%;
    margin-left: -5px !important;
}

/* Corrigindo o Bug de duas mensagens de erro ao mesmo tempo */
mat-form-field mat-error {
    display: none !important;
}

mat-form-field mat-error:first-child {
    display: block !important;
}

.cdk-overlay-container {
    z-index: 9999 !important;
}