.table-skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.table-row {
  display: flex;
  column-gap: 16px;
  width: 100%;
  height: 48px;
}

.column-rounded {
  width: 48px;
  height: 100%;
  border-radius: 50%;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

.column-sm {
  width: 15%;
  height: 100%;
  border-radius: 4px;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

.column-md {
  width: 30%;
  height: 100%;
  border-radius: 4px;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

.column-lg {
  width: 50%;
  height: 100%;
  border-radius: 4px;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(var(--gray-2));
  }
  100% {
    background-color: rgb(var(--gray-5));
  }
}