.such-notfound {
    background-color: rgb(var(--gray-1));
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
    align-items: center;
    margin: 20px 0;
    padding: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

img.notfound {
    max-width: 32%;
    max-height: auto;
}

h1.message {
    font-size: 1.50em;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 0.5px;
    color: rgb(var(--dark-0));
    margin: 6px 0 0 0;
    font-weight: 600;
}

h1.message strong {
    color: rgb(var(--purple));
}

p.text {
    font-size: 1.2em;
    color: rgb(var(--gray-8));
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
}

p.text mat-icon {
    color: rgb(var(--purple));
    margin: 0 5px;
    cursor: pointer;
}