<div class="ui-form-skeleton" *ngFor="let item of [0,1]">
    <div class="row-flex">
        <div class="skeleton-column">Seção 1</div>
    </div>
    <div class="row-flex">
        <div class="skeleton-column">Seção 2</div>
        <div class="skeleton-column">Seção 3</div>
    </div>
    <div class="row-flex">
        <div class="skeleton-column">Seção 4</div>
        <div class="skeleton-column">Seção 5</div>
    </div>
    <div class="row-flex">
        <div class="skeleton-column">Seção 6</div>
        <div class="skeleton-column">Seção 7</div>
    </div>
</div>
