.page-notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: up 0.5s;
}

h1.title {
    margin-top: 14px;
    font-family: 'Geologica', sans-serif;
}

p.message {
    font-size: 1.18em;
}

img.notfound-image {
    max-width: 32%;
    max-height: auto;
}