<!--<button class="order-list" [matMenuTriggerFor]="ordination" mat-icon-button matTooltip="Ordenar listagem">
    <mat-icon>filter_list</mat-icon>
</button>-->
<button 
    mat-button
    class="order-list"
    [matMenuTriggerFor]="ordination"
    #menu="matMenuTrigger"
>
    <mat-icon>
        {{ menu.menuOpen ? 'switch_right' : 'switch_left' }}
    </mat-icon> Ordenar por
</button>
<mat-menu #ordination="matMenu">
    <button
        mat-menu-item
        class="item-ordination"
        *ngFor="let ordination of ordinations"
        (click)="onChange(ordination)"
        [ngClass]="{ 'ordination-active' : ordination.isActive }"
    >
        <span>{{ ordination.label }}</span>
    </button>
</mat-menu>