.order-list {
    background-color: rgb(var(--gray-3));
    color: rgb(var(--gray-6));
}

.item-ordination span {
    color: rgb(var(--gray-8));
}

.ordination-active span {
    color: rgb(var(--purple));
}

.ordination-active {
    background-color: rgba(var(--purple), 0.098);
    pointer-events: none;
}