<button 
    mat-button
    class="order-list"
    [matMenuTriggerFor]="ordination"
    #menu="matMenuTrigger"
>
    <div class="btn-content">
        <mat-icon [ngClass]="{ 'unexpand-icon' : !menu.menuOpen, 'expand-icon' : menu.menuOpen }">
            expand_more
        </mat-icon>
        <div class="sort">
            <span class="sort-label">Ordenar por</span>
            <span class="sort-value">{{ selectedOrdination | displayordination }}</span>
        </div>
    </div>
</button>
<mat-menu #ordination="matMenu">
    <button
        mat-menu-item
        class="item-ordination"
        *ngFor="let ordination of ordinations"
        (click)="onChange(ordination)"
        [ngClass]="{ 'ordination-active' : ordination.isActive }"
    >
        <span>{{ ordination.label }}</span>
    </button>
</mat-menu>
