.full-screen {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    overflow: auto;
}

img {
    width: 400px;
}

button {
    width: min-content;
}