.full-screen {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    overflow: auto;
    position: relative;
    background-color: rgb(var(--gray-0));
}

img {
    margin-top: 60px;
    width: 400px;
}

button.close-dialog {
    position: absolute;
    top: 15px;
    right: 15px;
}

mat-button-toggle {
    background-color: transparent;
    color: rgb(var(--dark-0));
}