.full-screen {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    overflow: auto;
    position: relative;
}

img {
    width: 400px;
}

button.close-dialog {
    position: absolute;
    top: 15px;
    right: 15px;
}

mat-button-toggle {
    color: rgb(var(--dark));
}