<main>
    <section>
        <header>
            <app-name-page 
                title="Cargos" 
                subtitle="Cadastrados" 
            ></app-name-page>
            <div class="row-flex space-between">
                <button class="filter-table" mat-icon-button>
                    <mat-icon>filter_list</mat-icon>
                </button>
                <div class="input-search" matRipple>
                    <mat-icon>search</mat-icon>
                    <input 
                        type="text"
                        class="search"
                        [formControl]="formSearch"
                        placeholder="Pesquisar cargos"
                    >
                </div>
                <button 
                    class="btn"
                    color="purple"
                    radius="true"
                    (click)="openCreateRoleComponent()"
                    matRipple
                >CADASTRAR NOVO</button>
            </div>
        </header>
        <table class="ui-table stripped" *ngIf="!listRoles.isEmpty()">
            <tr>
                <th>ID</th>
                <th>Cargo</th>
                <th>última Atualização</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let role of roles">
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.updatedAt | dateDuration }}</td>
                <td>
                    <button mat-icon-button (click)="openUpdateRoleComponent(role)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-pagination></app-pagination>
    </section>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>