@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 20px 0 0 0;
}

button.filter-table {
    color: rgb(var(--gray-5));
}

button {
    color: rgb(var(--gray-8));
}

table tr td:nth-child(1) {
    width: 10%;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
    font-size: 1.05em;
}

table tr td:nth-child(2),
table tr td:nth-child(2) {
    width: 30%;
}