section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 16px 0 0 0;
}

table tr td:nth-child(1) {
    width: 5%;
}

table tr td > button:last-child {
    color: rgb(var(--danger));
}