section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 16px 0 0 0;
}

button.filter-table {
    color: rgb(var(--gray-6));
}

.label-ordination {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.05em;
    cursor: pointer;
    color: rgb(var(--dark-0));
}

table tr td:nth-child(1) {
    width: 10%;
    font-weight: 600;
    font-size: 1.05em;
}

table tr td:nth-child(2),
table tr td:nth-child(2) {
    width: 30%;
}

table tr td > button:first-child {
    color: rgb(var(--dark));
}

table tr td > button:last-child {
    color: rgb(var(--danger));
}