section {
    padding: 16px 0 0 0;
}

.card-metric {
    width: calc(100% - 100px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 20px 50px;
}

.card-metric .card-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    animation: skeleton-loading 0.7s linear infinite alternate;
}

.card-metric .card-content {
    width: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.card-metric .card-content .metric-description {
    width: 100%;
    height: 24px;
    border-radius: 6px;
    animation: skeleton-loading 0.7s linear infinite alternate;
}

.card-metric .card-content .metric-value {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    animation: skeleton-loading 0.7s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: rgb(var(--gray-4));
    }
    100% {
      background-color: rgb(var(--gray-7));
    }
  }