<main>
    <!--<button 
        class="btn-home"
        mat-fab color="primary"
        (click)="router.navigateByUrl('/app/members')"
    >
        <mat-icon>arrow_back</mat-icon>
    </button>-->
    <form [formGroup]="form">
        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Dados Pessoais</h1>
            </div>
            <div class="ui-card-body">
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Nome</mat-label>
                        <input 
                            formControlName="name"
                            placeholder="Ex.: João Paulo Alves"
                            minlength="6" 
                            maxlength="255"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['name'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['name'].errors?.['minlength']">
                            Informe no mínimo 6 caracteres
                        </mat-error>
                        <mat-error *ngIf="form['controls']['name'].errors?.['maxlength']">
                            Informe no máximo 255 caracteres
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>CPF</mat-label>
                        <input 
                            formControlName="cpf"
                            placeholder="Ex.: 000.000.000-00"
                            maxlength="14"
                            mask="000.000.000-00"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['cpf'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['cpf'].errors?.['maxlength']">
                            Informe no máximo 255 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>RG</mat-label>
                        <input
                            formControlName="rg"
                            placeholder="Ex.: 0000000000-0"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['rg'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Data de Nascimento</mat-label>
                        <input formControlName="dateOfBirth" type="date" matInput required>
                        <mat-error *ngIf="form['controls']['dateOfBirth'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Data de Batismo</mat-label>
                        <input formControlName="dateOfBaptism" type="date" matInput required>
                        <mat-error *ngIf="form['controls']['dateOfBaptism'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select formControlName="maritalStatus">
                            <mat-option 
                                *ngFor="let maritalStatus of listMaritalStatus.run()" 
                                [value]="maritalStatus.value"
                            >
                                {{ maritalStatus.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option 
                                *ngFor="let gender of listGenders.run()" 
                                [value]="gender.value"
                            >
                                {{ gender.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Congregação</mat-label>
                        <mat-select formControlName="congregation">
                            <mat-option *ngFor="let congregation of congregations" [value]="congregation">
                                {{ congregation.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Cargo</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{ role.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="ui-card-footer"></div>
        </div>
       
        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Filiação</h1>
            </div>
            <div class="ui-card-body">
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Nome do Pai</mat-label>
                        <input 
                            formControlName="fatherName"
                            placeholder="Ex.: Raimundo Silva Carlos"
                            minlength="6" 
                            maxlength="255"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['fatherName'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['fatherName'].errors?.['minlength']">
                            Informe no mínimo 6 caracteres
                        </mat-error>
                        <mat-error *ngIf="form['controls']['fatherName'].errors?.['maxlength']">
                            Informe no máximo 255 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Nome da Mãe</mat-label>
                        <input 
                            formControlName="motherName"
                            placeholder="Ex.: Maria Madalena Souza"
                            minlength="6" 
                            maxlength="255"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['motherName'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['motherName'].errors?.['minlength']">
                            Informe no mínimo 6 caracteres
                        </mat-error>
                        <mat-error *ngIf="form['controls']['motherName'].errors?.['maxlength']">
                            Informe no máximo 255 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="ui-card-footer"></div>
        </div>

        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Contato</h1>
            </div>
            <div class="ui-card-body">
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>E-mail</mat-label>
                        <input
                            type="email"
                            formControlName="email"
                            placeholder="Ex.: daniel@email.com.br"
                            maxlength="255"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['email'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['email'].errors?.['maxlength']">
                            Informe no máximo 255 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row-flex">
                    <mat-form-field class="width-fix" appearance="fill" color="accent">
                        <mat-label>Telefone</mat-label>
                        <input
                            formControlName="phone"
                            placeholder="Ex.: (00)00000-0000"
                            mask="(00)00000-0000"
                            maxlength="15"
                            matInput 
                            required
                        >
                        <mat-error *ngIf="form['controls']['phone'].errors?.['required']">
                            Esse campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form['controls']['phone'].errors?.['maxlength']">
                            Informe no máximo 15 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="ui-card-footer"></div>
        </div>

        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Upload Foto</h1>
            </div>
            <div class="ui-card-body">
                <div class="row-flex">
                    <div class="alert" color="purple">
                        <mat-icon class="icon-alert">warning</mat-icon>
                        <div class="content">
                            <h4 class="title">Atenção</h4>
                            <p class="message">
                                Para uma melhor experiência visual as imagens precisam ter fundo transparente.
                                Para isso utilize um programa, aplicativo ou ferramenta online de sua preferência.
                                Formatos de imagens aceitos: jpg, jpeg e png.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row-flex" *ngIf="!isUploadedPhoto">
                    <div class="ui-upload-image" matRipple>
                        <mat-icon class="icon-image">image</mat-icon>
                        <label for="input-file-photo">Clique aqui para carregar a Foto 3x4</label>
                        <input 
                            id="input-file-photo"
                            type="file"
                            (change)="onUploadPhoto($event)"
                            accept="image/png, image/jpeg" hidden
                        >
                    </div>
                </div>
                <div>
                    <app-uploaded-photo-preview></app-uploaded-photo-preview>                   
                </div>       
            </div>
            <div class="ui-card-footer"></div>
        </div>

        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Upload Assinatura</h1>
            </div>
            <div class="ui-card-body">
                <div class="row-flex">
                    <div class="alert" color="purple">
                        <mat-icon class="icon-alert">warning</mat-icon>
                        <div class="content">
                            <h4 class="title">Atenção</h4>
                            <p class="message">
                                Para uma melhor experiência visual as imagens precisam ter fundo transparente.
                                Para isso utilize um programa, aplicativo ou ferramenta online de sua preferência.
                                Formatos de imagens aceitos: jpg, jpeg e png.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row-flex" *ngIf="!isUploadedSignature">
                    <div class="ui-upload-image" matRipple>
                        <mat-icon class="icon-image">image</mat-icon>
                        <label for="input-file">Clique aqui para carregar a assinatura</label>
                        <input 
                            id="input-file"
                            (change)="onUploadSignature($event)"
                            type="file"
                            accept="image/png, image/jpeg" 
                            hidden
                        >
                    </div>
                </div>
                <div>
                    <app-uploaded-signature-preview></app-uploaded-signature-preview>                   
                </div>        
            </div>
            <div class="ui-card-footer"></div>
        </div>

        <div class="ui-card">
            <div class="ui-card-header">
                <h1 class="ui-card-title">Finalizando</h1>
            </div>
            <div class="ui-card-body">
                <div class="complete-registration">
                    <img 
                        src="/assets/img/svg/completing_re_i7ap.svg"
                        alt="Complete Registration" 
                        width="120px"
                    >
                    <p>Tudo pronto!</p>
                </div>
            </div>
            <div class="ui-card-footer">
                <div class="row-flex" horizontal-align="center">
                    <button 
                        class="btn"
                        color="purple"
                        [disabled]="!form.valid"
                        (click)="createMember.run(form.value)"
                        matRipple
                    >CONCLUIR CADASTRO</button>
                </div>
            </div>
        </div>
    </form>
</main>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#8e27fa"
    type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>