<div class="ui-preview-image" *ngIf="isUploaded">
    <div class="image">
        <img class="image-uploaded" [src]="signature.url" alt="Image Uploaded">
    </div>
    <div class="image-description">
        <a class="image-url" target="_blank" [href]="signature.url">
            {{ signature.url | smalltext: '56' }}
        </a>
        <p class="image-size">
            {{ signature.size | filesize: 'Kb' }}
        </p>
        <p class="uploaded-at">
            {{ signature.uploadedAt | dateDuration }}
        </p>
    </div>
    <button mat-icon-button color="warn" (click)="deleteSignature.run(signature.publicId)">
        <mat-icon>close</mat-icon>
    </button>
    <div class="progress-upload" *ngIf="deleteSignature.isInProgress()">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>