@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

section {
    padding: 0.5% 2% 2% 2%;
    border-radius: 5px;
    background-color: #fff;
}

header {
    padding: 16px 0 0 0;
}

button.filter-table {
    color: rgb(var(--gray-6));
}

button {
    color: rgb(var(--gray-7));
}

table tr td:nth-child(1) {
    width: 5%;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
    font-size: 1.05em;
}

div.active {
    margin: 5px 0;
    border-radius: 22px;
    text-align: center;
    font-size: 0.76em;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 100px;
    font-weight: 600;
    padding: 12px 6px;
    color: rgb(var(--default));
    background-color: rgba(var(--default), 0.12);
}

div.inactive {
    margin: 5px 0;
    border-radius: 22px;
    text-align: center;
    font-size: 0.76em;
    letter-spacing: -0.3px;
    font-family: 'Work Sans', sans-serif;
    width: 100px;
    font-weight: 600;
    padding: 12px 6px;
    color: rgb(var(--danger));
    background-color: rgba(var(--danger), 0.12);
}