<form [formGroup]="form">
    <mat-form-field class="width-fix" appearance="fill" color="primary">
        <mat-label>Nome</mat-label>
        <input 
            formControlName="name"
            placeholder="Ex.: ADTC Fortaleza"
            minlength="4" 
            maxlength="24"
            max="24"
            matInput 
            required
        >
        <mat-error *ngIf="form['controls']['name'].errors?.['required']">
            Esse campo é obrigatório
        </mat-error>
        <mat-error *ngIf="form['controls']['name'].errors?.['minlength']">
            Informe no mínimo 4 caracteres
        </mat-error>
        <mat-error *ngIf="form['controls']['name'].errors?.['maxlength']">
            Informe no máximo 24 caracteres
        </mat-error>
    </mat-form-field>
    <div class="row-flex">
        <div class="alert" color="purple">
            <mat-icon class="icon-alert">warning</mat-icon>
            <div class="content">
                <h4 class="title">Atenção</h4>
                <p class="message">
                    Para uma melhor experiência visual utilize imagens de boa definição.
                    As imagens podem ser tiradas com a câmera de um smartphone ou digitalizadas com um scanner.
                    As assinaturas podem ser digitalizadas com um scanner ou por meio de um aplicativo de smartphone.
                    Formatos de imagens aceitos: jpg, jpeg e png.
                </p>
            </div>
        </div>
    </div>
    <div class="ui-upload-image" *ngIf="!isUploadedLogo" matRipple>
        <mat-icon class="icon-image">upload</mat-icon>
        <label for="input-file-image">
            Clique aqui para carregar a logo da igreja
        </label>
        <label class="upload-progress">
           % Concluído
        </label>
        <input 
            id="input-file-image"
            type="file"
            accept="image/png, image/jpeg"
            hidden
        >
        <div class="progress-upload">    
            <mat-progress-bar mode="determinate"></mat-progress-bar>
        </div>
    </div>
</form>