<div class="ui-card-cred">
    <div class="card-header">
        <img [src]="credTheme.urlPreview" alt="Preview Theme" width="100%" height="auto" />
        <button class="favorite" [ngClass]="{'isFavorite' : credTheme.isFavorite }" mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <div class="card-body">
        <span class="card-badge" [ngClass]="{ 'active':credTheme.isActive, 'inactive':!credTheme.isActive }">
            {{  credTheme.isActive ? 'ATIVO':'INATIVO' }}
        </span>
        <h1 class="card-title">{{ credTheme.name }}</h1>
        <p class="update-at">Atualizado {{ credTheme.updatedAt | dateDuration }}</p>
        <ui-star-rate [rating]="credTheme.rating" />
        <button 
            class="btn btn-sm"
            color="dark"
            [disabled]="credTheme.isActive"
            (click)="activeTheme()"
            matRipple
        >ATIVAR</button>
    </div>
</div>