span, h1, p {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.ui-card-cred {
    max-width: auto;
    width: 100%;
    border: 1.5pt solid rgb(var(--gray-3));
    background-color: rgb(var(--gray-0));
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ui-card-cred
.card-header {
    width: 100%;
    height: fit-content;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.ui-card-cred
.card-header
button.favorite {
    top: 8px;
    right: 8px;
    color: rgb(var(--gray-6));
    background-color: rgba(var(--gray-6), 0.2);
    position: absolute;
}

.isFavorite {
    background-color: rgba(var(--amber), 0.09);
}

.isFavorite mat-icon {
    color: rgb(var(--amber));
}

.ui-card-cred
.card-body {
    padding: 24px;
}

.ui-card-cred
.card-body span.card-badge {
    padding: 6px 14px;
    border-radius: 14px;
    font-size: 0.88em;
    font-weight: 600;
    color: rgb(var(--gray-1));
}

.ui-card-cred
.card-body span.active {
    background-color: rgb(var(--florest));
}

.ui-card-cred
.card-body span.inactive {
    background-color: rgb(var(--gray-6));
}

.ui-card-cred
.card-body h1.card-title {
    margin: 8px 0 1px 0;
    font-size: 1.54em;
    font-weight: 600;
    color: rgb(var(--dark-0));
}

.ui-card-cred
.card-body p.update-at {
    color: rgb(var(--gray-6));
    margin: 0 0 8px 0;
    font-size: 0.94em;
    font-weight: 5
    0;
    letter-spacing: -0.6x;
}